html {
	padding: 50px;
}

body {
	background: linear-gradient(-45deg, #00cc7a, #00b36b, #00b3b3, #008080);
    background-size: 300% 300%;
    position: relative;
    padding: 20px;
    animation: change 10s ease-in-out infinite;
    position: relative;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

img {
	height: 200px;
	width: 140px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
}

li {
	font-weight: bold;
	font-size: 18px;
	font-family: Times New Roman;
	color: #ffffff;
}
/* Heading styles */
h1, h2, h3 {
	font-family: Times;
	color: #ffffff;
	text-decoration: underline;
	text-decoration-style: dotted;
}

/* Paragraph Styles */

p {
	font-family: Times New Roman;
	font-size: 16px;
	color: #ffffff;
}

#bmwX7 {
	height: 350px;
	width: 610px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
